img{
    max-height: 50px;
}

.facebook-reaction { position: relative;}

.reactions-box {
    position: absolute;
    height: 70px;
    top: -65px; 
    left: 1px; 
    box-shadow: 1px 1px 2px #cccccc, -1px 0px 2px #eeeeee; 
    border-radius: 44px 44px;
    background: #ffffff;
}

.reaction:hover { transform: scale(1.4, 1.4);}

a:hover{
    background-color: #eeeeee;
    border-radius: 20px;
}