<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="text-center" style="position: relative;">
                    <img src="./assets/DotNet-Angular.jpg" class="rounded img-fluid" alt="">
                    <div class="img-block">
                        <img src="{{member.photoUrl || './assets/user.png'}}" class="rounded-circle" style="max-width: 40%; border: 4px solid white;">
                    </div>
                </div>
                <h2 class="text-center text-primary">{{member.displayName}}</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h3 class="text-primary">Giới thiệu</h3>
                            <div class="card-body">
                                <div>
                                    <strong>User name:</strong>
                                    <p>{{member.userName}}</p>
                                </div>
                                <div>
                                    <strong>Last active</strong>
                                    <p>{{member.lastActive | timeago}}</p>
                                </div>
                                <div>
                                    <strong>Date of birth</strong>
                                    <p>{{member.dayOfBirth | date: 'dd-MM-yyyy'}}</p>
                                </div> 
                                <div class="text-success">100 follows</div>                   
                            </div>            
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card border-card" *ngFor="let item of member.posts">
                            <app-post [post]="item"></app-post>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>