<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">                
                <h2 class="displayName text-primary">Nguyễn Hoài Nam</h2>
            </div>
            <div class="card-body">
                <div><img class="img-fluid rounded" src="./assets/DotNet-Angular.jpg" alt=".Net 5 and Angular 11"></div>
                <p>Tôi có niềm đam mê công nghệ với .Net nhưng mới học thêm Angular được vài tuần. Tuy nhiên mới học .Net 5 và Angular được vài tuần vẫn có nhiều điều chưa hiểu và chưa rõ
                    .Tôi không phải developer, tôi là một viên chức nhưng vì nhiều lý do tôi không theo code mặc dù nền tảng của tôi là IT.
                    Tôi làm app này để rèn luyện kỹ năng code sử dụng công nghệ .Net 5 và Angular 11 vừa để thỏa mãn niềm đam mê code của mình.
                </p>
                <div>
                    <h4>Database</h4>
                    <img class="rounded img-fluid" src="./assets/db.png" alt="">
                </div>
            </div>
            <div class="card-footer">
                <div class="text-muted">Ngày hoàn thiện project: tháng 07 năm 2021</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="text-primary">Tác giả</h3>
                <p><strong>Sống tại:</strong> Long Xuyên, An Giang</p>
                <p><strong>email:</strong> hoainam10th@gmail.com</p>
                <p><strong>Phone:</strong> 0989 462 549</p>
                <h3 class="text-primary">Công cụ sử dụng</h3>
                <div>            
                    <ul>
                        <li>vs-code</li>
                        <li>Visual Studio 2019 Community</li>
                    </ul>
                </div>
                <h3 class="text-primary">Công nghệ sử dụng</h3>
                <div>
                    <p> <strong>Front end Angular:</strong></p>
                    <ul>
                        <li>ngx-infinite-scroll</li>
                        <li>SignalR</li>
                        <li>Ngx-Bootstrap UI</li>
                        <li>Service</li>
                        <li>Bảo vệ ứng dụng với Guard</li>
                        <li>Reactive form</li>
                        <li>Template-driven forms</li>
                        <li>Interceptor: bắt lỗi trả về từ backend, Tự động chèn token vào mỗi request</li>
                    </ul>
                </div>
                <div>
                    <p><strong>Back-end Dot-Net Core:</strong></p>
                    <ul>
                        <li>MS Sql server</li>
                        <li>SignalR</li>
                        <li>UnitOfWork</li>
                        <li>Code-first Identity</li>
                        <li>Fluent-API</li>
                        <li>DI injection</li>
                        <li>AutoMapper</li>
                        <li>Authorize</li>
                        <li>Viết 1 ExceptionMiddleware để bắt lỗi toàn ứng dụng</li>
                        <li>Viết 1 custom ActionFilter để ghi log ngày giờ đăng nhập của User</li>                
                        <li>Lưu trữ ảnh qua cloud (Cloudinary)</li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
</div>