<div class="form-signin">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="text-center">
            <img class="mb-4" src="./assets/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please register</h1>
        </div>
        
        <app-text-input [formControl]='registerForm.controls["displayName"]' [label]='"DisplayName"' ></app-text-input>
        <app-text-input [formControl]='registerForm.controls["userName"]' [label]='"Username"' ></app-text-input>
        <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'>
        </app-text-input>        

        <button [disabled]="!registerForm.valid" class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        
        <div class="text-center">
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </div>
        
        <div class="row" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>       
    </form>
</div>