<div class="row">
    <div class="col-3 d-block d-sm-none">
        <div id="user-online" class="card" style="height:100vh; overflow-y: scroll;">
            <div class="card-header">
                <div class="text-center">                    
                    <span class="text-success">{{(presence.onlineUsers$ | async).length}} </span>                    
                    <i class="fa fa-users"></i>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center card-body">
                <div class="pd-5" style="position: relative;" [ngClass]="{'actived': userSelected === item}" *ngFor="let item of (presence.onlineUsers$ | async)" (click)="selectedUserAndLoadMessages(item)">
                    <img src="{{item.photoUrl || './assets/user.png'}}" class="rounded-circle img-user">
                    <span class="badge label-u bg-danger" *ngIf="item.unReadMessageCount > 0">{{item.unReadMessageCount}}</span>
                    <span class="lb-online lb-pos"><i class="fa fa-circle"></i></span>
                </div>                                                        
            </div> 
        </div>             
    </div>
    <div class="col-9 d-block d-sm-none">
        <div class="card" style="height:100vh;">
            <div class="card-header">
                <div class="d-flex" *ngIf="userSelected">
                    <div class="mr"><img src="{{userSelected?.photoUrl || './assets/user.png'}}" class="rounded-circle img-person"></div>
                    <div>
                        <div class="displayName text-primary">{{userSelected?.displayName}}</div>
                        <div class="font-sm text-muted">{{userSelected?.lastActive | timeago}}</div>
                    </div>
                </div>
            </div>
            <div class="card-body" style="overflow-y: scroll;">
                <ul #scrollMe>
                    <li class="margin-all" *ngFor="let item of (messageService.messageThread$ | async)">
                        <div class="d-flex" [ngClass]="{'justify-content-end': item.senderUsername === userCurrent.userName}">
                            <!-- image of user received message -->
                            <div class="mr" *ngIf="item.recipientUsername === userCurrent.userName">
                                <img class="rounded-circle img-person" src="{{item.senderPhotoUrl || './assets/user.png'}}">
                            </div>
                            <div tooltip="{{item.messageSent | date:'short'}}" placement="top" [ngClass]="item.recipientUsername === userCurrent.userName ? 'message-body':'message-send' " >                        
                                <div>{{item.content}}</div>
                            </div>                            
                        </div>
                    </li>                                       
                </ul>
            </div>
            <div class="card-footer">
                <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
                    <div class="input-group">
                        <input type="text" name="messageContent" required [(ngModel)]="messageContent"
                            class="form-control input-sm" placeholder="Send a private message">
                        <div class="input-group-append">
                            <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>